# python
freeze.txt
/venv
**/__pycache__/


# quarto
/docs
/.quarto/
.luarc.json

# quatro-diagram (or whateever)
/quarto/chapters/**/html/
/quarto/chapters/**/mediabag/

# tensorboard
/runs

# jupyter
**/.jupyter_cache